@media screen and (max-width: 730px) {
.cards{
    font-weight: wrap;
}
.card{
    width: calc(50% - 20px);
    margin-bottom: 40px;
}
}

@media screen  and (max-width: 540px) {
    .card{
        width: 100%;
    }
}
    